---
import SectionTitle from "$lib/components/common/SectionTitle.svelte";
import { Badge } from "$lib/components/ui/badge";
import { CalendarFold } from "lucide-svelte";
import Accordion from "$lib/components/common/Accordion.svelte";

const { faqs, isBlogFaqs } = Astro.props;
---

<section class={`${ isBlogFaqs ? 'mt-4 md:mt-10' : 'py-10 md:py-40 section-bg'}`}>
  <div class={`${ isBlogFaqs ? '' : 'container'}`}>
    <div class={`flex flex-col gap-4 ${ isBlogFaqs ? '' : 'lg:flex-row lg:gap-20'}`}>
      <div class={`md:items-start ${ isBlogFaqs ? '' : 'flex items-center flex-col'}`}>
        { !isBlogFaqs &&
          <Badge variant="outline" class={`${ isBlogFaqs ? 'mb-0' : 'py-1'}`}>
            <CalendarFold class="mr-1" size={18} />
            <span class="text-xs font-bold md:text-sm tracking-wider font-manrope"
              >FAQS</span
            >
          </Badge> 
        }
        <SectionTitle
          class={`scroll-mt-[8rem] lg:scroll-mt-28 snap-mandatory ${ isBlogFaqs ? 'max-md:text-left' : 'lg:w-3/5'}`}
          text="Asked Question"
          primaryColorText="Frequently"
          isPrimaryTextInitial={true}
          isBlogFaqs={isBlogFaqs}
        />
        <p class="small-text font-roboto md:text-para text-third-color">
          Get quick answers to common queries. Explore our FAQs for helpful
          insights and solutions.
        </p>
      </div>

      <div class={`${ isBlogFaqs ? '' : 'lg:w-1/2' }`}>
        <!-- <ContactFAQ client:load /> -->
        <Accordion client:load {faqs} />
      </div>
    </div>
  </div>
</section>
