---
import SectionTitle from "$lib/components/common/SectionTitle.svelte";
import { Badge } from "$lib/components/ui/badge";
import { CircleUserRound } from "lucide-svelte";
import { Image } from "astro:assets";
import testImage from "$lib/images/services/full-cycle-approach-custom-software-development.svg"
const approach = [
  {
    title: "Discovery & Requirements Engineering",
    description:
      "We start by aligning with your stakeholders to define requirements, KPIs, user journeys, and technical constraints. This phase ensures clarity and reduces downstream risks."
  },
  {
    title: "Architecture & Technical Design",
    description:
      "We create a product-centric architecture that supports long-term maintainability. Our solutions are built cloud-native, modular, and aligned with microservices or monoliths, depending on your business goals."
  },
  {
    title: "Agile Sprint Delivery",
    description:
      "Using Scrum and Kanban, we deliver working software in iterative sprints. You receive frequent demos, backlog grooming, and total visibility into the development lifecycle."
  },
  {
    title: "DevOps, CI/CD & Automation",
    description:
      "We implement CI/CD pipelines, infrastructure-as-code (Terraform, Ansible), and observability stacks to ensure safe, automated, and traceable deployments."
  },
  {
    title: "Rigorous Testing & Quality Assurance",
    description:
      "Each sprint includes unit tests, integration testing, manual testing, and performance/load testing. We ensure quality across functionality, usability, and security."
  },
  {
    title: "Post-Launch Support & Maintenance",
    description:
      "Our job doesn't end at deployment. We provide SLAs, monitoring, issue resolution, and performance optimization as part of ongoing support."
  }
];

---

<section class="section6 py-10 md:py-40 overflow-x-hidden section-bg">
  <div class="container">
    <div
        class="flex mx-auto max-w-2xl flex-col items-start md:items-center justify-center"
      >
        <Badge variant="outline" class="py-1">
          <CircleUserRound class="mr-1" size={18} />
          <span class="text-xs font-bold md:text-sm tracking-wider font-manrope"
            >Full Cycle Approach</span
          >
        </Badge>
        <SectionTitle
          text="Our Full-Cycle"
          primaryColorText="Custom Software Development Approach"
          class="md:whitespace-pre-wrap max-md:text-left md:text-center md:w-5/6"
        />
      </div>

    <div class="flex flex-col md:flex-row items-center gap-4 md:pt-12">
      <div class="md:min-w-[50%] max-h-max justify-center items-center">
        <Image alt="building block" src={testImage} height={600} data-aos="fade-right"/>
      </div>

      <div>
        {approach.map((service, index) => (
          <div class="relative flex items-start">
            {index < approach.length - 1 && (
              <div class="absolute left-4 w-px h-full border-1 border-common-border "></div>
            )}
            
            <div class="w-8 h-8 border-1 bg-card-bg backdrop-blur-sm border-common-border rounded-full flex items-center justify-center relative z-10">
              {index + 1}
            </div>
            
            <div class="ml-6 flex-1">
              <!-- Title -->
              <h3 class="pb-2 text-[18px] leading-[22px] text-xl font-bold tracking-[0.02em] font-manrope text-main-heading-color">
                {service.title}
              </h3>
              
              <div class="pr-4 pb-8">
                <p class="small-text lg:text-para font-inter text-fourth-color">
                  {service.description}
                </p>
              </div>
            </div>
          </div>
        ))}
      </div>
    </div>
  </div>
</section>
